body{
    background-color: whitesmoke;
}
.kongro{
    display: block;
    margin: auto;
    border-radius: 50%;
}
h1{
        color: black;
        font-size: 25px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton{
    text-align: center;

}

.text-boton{
    color:red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu{
    text-align: center; 
    margin-right: 3rem;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.lista-menu{
display: inline;

}

.enlace-menu{
    text-decoration: none;
    color: darkgoldenrod;
}

.separador{
    background-color: red;
}

.subtitulo{
    color:black;
    text-align: left;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

.saludo{
    text-align: left;
    color: black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parrafo{
    text-align: justify;
    color:black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.jorge{
    max-width: 20%;
    display: block;
    margin: auto;
}

.comentario{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color:black;
}

.titulo-listas{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 23px;
    color: black;
}

.a{
    list-style-type: square;
}


.equipos{
    font-size: 18px;
    text-align: justify;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.escudo{
max-width: 20%;
margin-bottom: 2rem;
margin-top: 2rem;
}

.enlace-anime{
    color:darkred
}

.anime{
    max-width: 30%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.skills{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: black;
    text-align: justify;
}
.icon-skills{
    max-width: 100%;
}

.alineado-social{
    display: inline;
    margin-right: 3rem;
}

.social{
    max-width: 5%;
}






 

